@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(to right, #5005F2, #7E5EF2);
}

p {
    text-align: center;
}

main {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 5px 5px 30px #0f1d38;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #5607ff;
    text-align: center;
    text-shadow: 2px 2px 4px #2e0091;
}

h2 {
    color: #7E5EF2;
    text-align: center;
    text-shadow: 1px 1px 2px #200164;
}